# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# output files
*output.csv

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
env/
venv/
venv.bak/
